DATABASE_URL="postgresql://user:password@ep-xxx.neon.tech/dbname?sslmode=require"
JWT_SECRET="your-super-secret-jwt-key-change-this-in-production-min-64-chars"
JWT_REFRESH_SECRET="your-super-secret-refresh-key-change-this-in-production-min-64-chars"
PORT=5000
NODE_ENV=development
FRONTEND_URL=http://localhost:5173
